body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    text-align: center;
    color: blueviolet;
    margin-top: 50px;
}
#calc {
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    background: #9dc59d;
    padding: 20px;
    border-radius: 10px;

}
#content form input {
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}
#backspace {
    background-color: rgb(16, 123, 156);
    color: white;
}
#result {
    padding: 10px;
}
#clear {
    background-color: rgb(85, 192, 186);
    color: white;
}
form #output {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
form #output input {
    text-align: right;
    flex: 1;
    font-size: 25px;
}
